# pandas
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html

1.QZNEO
2.Trimble

#when calculate again, you need

%reset

In [104]:
#check current directory
%pwd

'C:\\Users\\survey\\Dropbox\\My PC (SURVEY-C20)\\Documents\\GitHub\\GNSS'

#define working directroy
# %cd C:\\Users\\survey\\Desktop\\nmea20210705

%cd C:\Users\survey\Dropbox\My PC (SURVEY-C20)\Documents\GitHub\GNSS

In [105]:
#check files
%ls

 ドライブ C のボリューム ラベルがありません。
 ボリューム シリアル番号は 3C86-6F6B です

 C:\Users\survey\Dropbox\My PC (SURVEY-C20)\Documents\GitHub\GNSS のディレクトリ

2021/07/10  17:20    <DIR>          .
2021/07/09  19:44    <DIR>          ..
2021/07/10  15:42               214 .gitignore
2021/07/10  17:10    <DIR>          .idea
2021/07/10  15:42             1,523 GG1.csv
2021/07/10  15:42             1,357 GG2.csv
2021/07/10  17:20            36,102 gnss_concate.ipynb
2021/07/10  15:58            10,387 gnss_extract.ipynb
2021/07/10  16:03                82 README.md
2018/03/18  11:24             3,454 VRS単_2018-03-18-11-24-13.rtk
2021/07/10  17:17               228 VRS単_2018-03-18-11-24-13_get_concate.rtk
2018/05/28  21:00            29,291 VRS直_2018-05-28-21-00-28.rtk
2021/07/10  17:18             1,982 VRS直_2018-05-28-21-00-28_get_concate.rtk
2018/06/24  14:02            66,904 VRS直_2018-06-24-14-02-18.rtk
2021/07/10  17:18             4,584 VRS直_2018-06-24-14-02-18_get_concate.rtk
2018/07/11  20:01            51,198 VRS直_2018-07-11-20-00-59.rtk
2021/07/10  17:19             3,536 VRS直_2018-07-11-20-00-59_get_concate.rtk
2021/07/09  21:19            12,733 VRS直_2021-06-27-11-45-43.rtk
2021/07/09  21:30             2,880 VRS直_2021-06-27-11-45-43_get.rtk
2021/07/09  21:32            14,536 VRS直_2021-06-27-11-45-43_get.rtk.xlsx
2021/07/10  17:09               790 VRS直_2021-06-27-11-45-43_get_concate.rtk
2021/07/09  18:49            60,812 VRS直_2021-07-05-12-48-07.rtk
2021/07/09  21:07            14,497 VRS直_2021-07-05-12-48-07_get.rtk
2021/07/09  21:35            31,534 VRS直_2021-07-05-12-48-07_get.rtk.xlsx
              21 個のファイル             348,624 バイト
               3 個のディレクトリ  1,044,778,864,640 バイトの空き領域

In [106]:
import pandas as pd
import csv

In [107]:
# define the input file

# inp_file="2021-07-05_10.nmea"
# inp_file="VRS直_2021-07-05-12-48-07.rtk"
inp_file="VRS直_2021-07-05-12-48-07.rtk"

In [108]:
# type(inp_file)
base_name=inp_file.split('.',1)[0]
# type(base_name)
base_name
# inp_file="VRS直_2021-07-05-12-48-07_get.rtk"

'VRS直_2021-07-05-12-48-07'

In [109]:
# make output filename from input file automatically

# out_file="2021-07-05_10_GNRMC_out_test.csv"
# out_file="VRS直_2021-07-05-12-48-07_get.rtk"
out_file=base_name+"_get_concate.rtk"
out_file
# out_file="VRS直_2021-07-05-12-48-07_get.rtk"

'VRS直_2021-07-05-12-48-07_get_concate.rtk'

In [110]:
# enc_sty="UTF-8"
enc_sty="shift_jis"

In [111]:
# with open("2021-07-05_10.nmea", "r", encoding="UTF-8", errors="", newline="" ) as f:
# with open(inp_file, "r", encoding="UTF-8", errors="", newline="" ) as f:
with open(inp_file, "r", encoding=enc_sty, errors="", newline="" ) as f:
    lst = csv.reader(f, delimiter=",")
    df = pd.DataFrame(lst).rename(columns={0:'cols'})
    # df = pd.DataFrame(lst)

In [112]:
df_1=df.query('cols in ["GG1"]')
# df_1_new=df_1.drop(df.columns[[1,2,4,5,6,7,8,9,10,11,12,13,14,15]], axis=1)
# df_1_new=df_1.rename(columns={3:no})
# df_1.to_csv("GG1.csv",header=False, index=False)
# type(df_1)

In [113]:
# df_1_new

In [114]:
df_1 = df_1.reset_index(drop=True)

In [115]:
df_1

,cols,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,GG1,1,2,57,14:50:05:JST,14:50:15:JST,10,11,2.199,2.199,,1,0,0,,
1,GG1,1,3,65,14:52:41:JST,14:52:51:JST,10,11,2.199,2.199,,2,0,0,,
2,GG1,1,4,197,14:54:46:JST,14:54:55:JST,10,11,2.199,2.199,,3,0,0,,
3,GG1,1,5,54,14:57:04:JST,14:57:15:JST,10,10,2.199,2.199,,4,0,0,,
4,GG1,1,6,55,14:58:18:JST,14:58:28:JST,10,10,2.199,2.199,,5,0,0,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,GG1,1,112,s74,18:54:47:JST,18:54:57:JST,10,13,2.199,2.199,,20,0,0,,
111,GG1,1,113,s75,18:55:11:JST,18:55:21:JST,10,13,2.199,2.199,,21,0,0,,
112,GG1,1,114,s76,18:55:47:JST,18:55:57:JST,10,13,2.199,2.199,,22,0,0,,
113,GG1,1,115,s77,18:56:19:JST,18:56:29:JST,10,12,2.199,2.199,,23,0,0,,
114,GG1,1,116,s78,18:56:50:JST,18:57:00:JST,10,12,2.199,2.199,,24,0,0,,

In [116]:
df_2=df.query('cols in ["GG2"]')
# df_2.to_csv("GG2.csv",header=False, index=False)

In [117]:
df_2 = df_2.reset_index(drop=True)
df_2

,cols,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,GG2,-90158.482,-5124.454,183.203,39.249,143.954,,None,None,None,None,None,None,None,None,None
1,GG2,-90168.648,-5109.172,183.250,39.250,144.000,,None,None,None,None,None,None,None,None,None
2,GG2,-90181.236,-5081.433,183.944,39.252,144.692,,None,None,None,None,None,None,None,None,None
3,GG2,-90176.886,-5079.164,183.960,39.253,144.707,,None,None,None,None,None,None,None,None,None
4,GG2,-90174.535,-5078.768,183.929,39.253,144.676,,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,GG2,-90211.893,-5153.445,184.746,39.247,145.499,,None,None,None,None,None,None,None,None,None
111,GG2,-90212.861,-5152.760,184.744,39.247,145.497,,None,None,None,None,None,None,None,None,None
112,GG2,-90213.434,-5151.986,184.746,39.247,145.499,,None,None,None,None,None,None,None,None,None
113,GG2,-90214.396,-5150.398,184.784,39.247,145.537,,None,None,None,None,None,None,None,None,None
114,GG2,-90215.131,-5149.004,184.822,39.247,145.575,,None,None,None,None,None,None,None,None,None

In [118]:
concatenated_df = pd.concat([df_1, df_2], axis=1)

In [119]:
sh=concatenated_df.shape

In [120]:
concatenated_df.columns=range(sh[1])

In [121]:
concatenated_df

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,GG1,1,2,57,14:50:05:JST,14:50:15:JST,10,11,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
1,GG1,1,3,65,14:52:41:JST,14:52:51:JST,10,11,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
2,GG1,1,4,197,14:54:46:JST,14:54:55:JST,10,11,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
3,GG1,1,5,54,14:57:04:JST,14:57:15:JST,10,10,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
4,GG1,1,6,55,14:58:18:JST,14:58:28:JST,10,10,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,GG1,1,112,s74,18:54:47:JST,18:54:57:JST,10,13,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
111,GG1,1,113,s75,18:55:11:JST,18:55:21:JST,10,13,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
112,GG1,1,114,s76,18:55:47:JST,18:55:57:JST,10,13,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
113,GG1,1,115,s77,18:56:19:JST,18:56:29:JST,10,12,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
114,GG1,1,116,s78,18:56:50:JST,18:57:00:JST,10,12,2.199,2.199,...,,None,None,None,None,None,None,None,None,None

In [122]:
concatenated_df=concatenated_df.drop(concatenated_df.columns[[0,1,2,4,5,6,7,8,9,10,11,12,13,14,15,16,20,21,22,23,24,25,26,27,28,29,30,31]], axis=1)

In [123]:
concatenated_df.to_csv(out_file,header=False, index=False)

In [125]:
concatenated_df

      3           17         18       19    31
0     57  -90158.482  -5124.454  183.203  None
1     65  -90168.648  -5109.172  183.250  None
2    197  -90181.236  -5081.433  183.944  None
3     54  -90176.886  -5079.164  183.960  None
4     55  -90174.535  -5078.768  183.929  None
..   ...         ...        ...      ...   ...
110  s74  -90211.893  -5153.445  184.746  None
111  s75  -90212.861  -5152.760  184.744  None
112  s76  -90213.434  -5151.986  184.746  None
113  s77  -90214.396  -5150.398  184.784  None
114  s78  -90215.131  -5149.004  184.822  None

[115 rows x 5 columns]

# df.query('cols in ["GG1","GG2"]')
# df.query('cols in ["GG1","GG2"]').to_csv(out_file,header=False, index=False)
df.query('cols in ["GG1","GG2"]').to_csv(out_file,header=False, index=False)
# df[df[0].str.contains(id)].to_csv(out_file,header=False, index=False)

FIN
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

In [124]:
# concatenate horizontally

# id='GNRMC'
id="GG1|GG2"

df

# oi=df.iloc[0]
# print(oi)
oi2=df.iloc[:,1]
print(oi2)

# print(df[0].str.contains('$GNRMC'))
# df[0].str.contains('GNRMC')
df[0].str.contains(id)


# df[df[0].str.contains('GNRMC')].to_csv("2021-07-05_10_GNRMC.csv",header=False, index=False)
df[df[0].str.contains(id)].to_csv(out_file,header=False, index=False)

##################################################################
#################################
FIN

pd.options.display.max_rows = None
pd.options.display.max_columns = None

# df = pd.read_csv('2021-07-04_16.csv', index_col=0)
# df = pd.read_csv('2021-07-04_16.csv')
df = pd.read_csv('2021-07-04_16.csv', header=None)
print(df)

csvfile = '2021-07-05_07.nmea'
f = open(csvfile, "r")
reader = csv.reader(f)
# header = next(reader)

for row in reader:
        print(row)

f.close()

# df[0].isin([GNRMC])

df.to_csv("GNRMMC_1.csv")

type(kore)

print(df[df[0].str.contains('$GNRMC')])

df.iloc[5]

df.loc["$GNRMC"]