# pandas
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html

#when calculate again, you need

%reset

In [104]:
#check current directory
%pwd

'C:\\Users\\survey\\Dropbox\\My PC (SURVEY-C20)\\Documents\\GitHub\\GNSS'

#define working directroy
# %cd C:\\Users\\survey\\Desktop\\nmea20210705

%cd C:\Users\survey\Dropbox\My PC (SURVEY-C20)\Documents\GitHub\GNSS

In [1]:
#check files
%ls

 ドライブ C のボリューム ラベルがありません。
 ボリューム シリアル番号は 3C86-6F6B です

 C:\Users\survey\Dropbox\My PC (SURVEY-C20)\Documents\GitHub\GNSS のディレクトリ

2021/07/10  17:35    <DIR>          .
2021/07/09  19:44    <DIR>          ..
2021/07/10  15:42               214 .gitignore
2021/07/10  17:34    <DIR>          .idea
2021/07/10  15:42             1,523 GG1.csv
2021/07/10  15:42             1,357 GG2.csv
2021/07/10  17:20            36,271 gnss_concate.ipynb
2021/07/10  17:35            36,153 gnss_concate_vertical.ipynb
2021/07/10  15:58            10,387 gnss_extract.ipynb
2021/07/10  16:03                82 README.md
2018/03/18  11:24             3,454 VRS単_2018-03-18-11-24-13.rtk
2021/07/10  17:17               228 VRS単_2018-03-18-11-24-13_get_concate.rtk
2021/07/10  17:24            10,325 VRS単_2018-03-18-11-24-13_get_concate.rtk.xlsx
2018/05/28  21:00            29,291 VRS直_2018-05-28-21-00-28.rtk
2021/07/10  17:18             1,982 VRS直_2018-05-28-21-00-28_get_concate.rtk
2021/07/10  17:23            11,735 VRS直_2018-05-28-21-00-28_get_concate.rtk.xlsx
2018/06/24  14:02            66,904 VRS直_2018-06-24-14-02-18.rtk
2021/07/10  17:18             4,584 VRS直_2018-06-24-14-02-18_get_concate.rtk
2021/07/10  17:23            14,300 VRS直_2018-06-24-14-02-18_get_concate.rtk.xlsx
2018/07/11  20:01            51,198 VRS直_2018-07-11-20-00-59.rtk
2021/07/10  17:19             3,536 VRS直_2018-07-11-20-00-59_get_concate.rtk
2021/07/10  17:22            13,236 VRS直_2018-07-11-20-00-59_get_concate.rtk.xlsx
2021/07/09  21:19            12,733 VRS直_2021-06-27-11-45-43.rtk
2021/07/09  21:30             2,880 VRS直_2021-06-27-11-45-43_get.rtk
2021/07/09  21:32            14,536 VRS直_2021-06-27-11-45-43_get.rtk.xlsx
2021/07/10  17:09               790 VRS直_2021-06-27-11-45-43_get_concate.rtk
2021/07/10  17:21            10,998 VRS直_2021-06-27-11-45-43_get_concate.rtk.xlsx
2021/07/09  18:49            60,812 VRS直_2021-07-05-12-48-07.rtk
2021/07/09  21:07            14,497 VRS直_2021-07-05-12-48-07_get.rtk
2021/07/09  21:35            31,534 VRS直_2021-07-05-12-48-07_get.rtk.xlsx
2021/07/10  17:20             3,968 VRS直_2021-07-05-12-48-07_get_concate.rtk
2021/07/10  17:27            16,006 VRS直_2021-07-05-12-48-07_get_concate.rtk.xlsx
              29 個のファイル             465,514 バイト
               3 個のディレクトリ  1,044,750,049,280 バイトの空き領域

In [6]:
import pandas as pd
import csv
import glob

In [ ]:
# enc_sty="UTF-8"
enc_sty="shift_jis"

In [35]:
# file_data_sum=[]
for file in glob.glob("*_get_concate.rtk"):
    base_name=file.split('.',1)[0]
    with open(file, "r", encoding=enc_sty, errors="", newline="" ) as f:
        lst = csv.reader(f, delimiter=",")
        df = pd.DataFrame(lst).rename(columns={0:'no',1:'x',2:'y',3:'z'})
        df
        df=df.drop(df.columns[[4]], axis=1)
        print(df)
    # file_data = open(file, "r")
    # print(file)
    # print(file_data)
    # file_data_sum = file_data
    # print(type(file_data))
    # print(file_data.read())

       no           x          y        z
0  gcp  1  -90466.435  -4687.616  211.197
1  gcp  1  -90466.435  -4687.619  211.190
2  gcp  2  -90459.502  -4686.687  211.309
3  gcp  2  -90459.502  -4686.684  211.321
4  gcp  3  -90465.298  -4680.830  211.376
5  gcp  3  -90465.289  -4680.836  211.362
     no           x          y        z
0   194  -90148.783  -5090.489  182.325
1   194  -90148.780  -5090.492  182.325
2   195  -90166.347  -5102.293  183.192
3   195  -90166.353  -5102.293  183.185
4   196  -90158.477  -5118.195  183.195
5   196  -90158.474  -5118.193  183.198
6   197  -90181.220  -5081.400  183.992
7   197  -90181.217  -5081.400  183.998
8   198  -90188.572  -5104.245  183.986
9   198  -90188.572  -5104.243  183.986
10  199  -90182.621  -5127.619  184.186
11  199  -90182.615  -5127.617  184.186
12  200  -90197.737  -5152.445  184.617
13  200  -90197.737  -5152.445  184.610
14    2  -90197.042  -5160.302  184.754
15    2  -90197.042  -5160.297  184.744
16    3  -90196.829  -5161.870  184.745
17    3  -90196.832  -5161.873  184.741
18    4  -90196.575  -5163.702  184.748
19    4  -90196.578  -5163.704  184.749
20  4-1  -90195.902  -5165.004  184.758
21  4-1  -90195.902  -5165.004  184.744
22   17  -90183.562  -5136.196  184.256
23   17  -90183.562  -5136.191  184.264
24   18  -90183.607  -5138.235  184.256
25   18  -90183.610  -5138.235  184.256
26   19  -90183.763  -5140.264  184.274
27   19  -90183.763  -5140.264  184.269
28   20  -90183.907  -5142.298  184.284
29   20  -90183.907  -5142.295  184.284
30   33  -90184.946  -5107.798  184.008
31   33  -90184.949  -5107.798  184.010
32   34  -90183.587  -5109.052  183.987
33   34  -90183.587  -5109.052  183.983
34   35  -90182.018  -5110.225  183.953
35   35  -90182.018  -5110.222  183.955
36   45  -90182.443  -5087.118  184.025
37   45  -90182.447  -5087.116  184.029
38   46  -90182.014  -5089.519  183.992
39   46  -90182.014  -5089.519  183.989
40   47  -90181.532  -5091.866  183.948
41   47  -90181.532  -5091.863  183.944
42   57  -90158.464  -5124.444  183.215
43   57  -90158.470  -5124.441  183.223
44   58  -90158.996  -5126.979  183.217
45   58  -90158.999  -5126.976  183.213
46   65  -90168.657  -5109.177  183.206
47   65  -90168.657  -5109.177  183.224
48   66  -90170.569  -5111.597  183.215
49   66  -90170.569  -5111.599  183.209
50   89  -90138.537  -5112.464  182.322
51   89  -90138.537  -5112.464  182.320
52   73  -90137.402  -5114.381  182.324
53   73  -90137.402  -5114.384  182.327
54   74  -90136.993  -5117.852  182.293
55   74  -90136.993  -5117.849  182.295
56   82  -90151.102  -5098.150  182.307
57   82  -90151.099  -5098.150  182.302
     no           x          y        z
0     6  -90204.775  -5152.535  184.711
1     6  -90204.775  -5152.532  184.706
2     7  -90206.297  -5152.551  184.707
3     7  -90206.297  -5152.551  184.717
4     8  -90208.023  -5152.638  184.715
..   ..         ...        ...      ...
130  83  -90150.961  -5084.733  182.297
131  84  -90146.160  -5084.892  182.311
132  84  -90146.160  -5084.892  182.307
133  81  -90146.075  -5093.705  182.295
134  81  -90146.078  -5093.705  182.302

[135 rows x 4 columns]
     no           x          y        z
0    34  -90230.638  -5237.952  181.066
1    34  -90230.681  -5238.010  180.915
2    34  -90230.681  -5238.010  180.912
3    36  -90231.180  -5237.661  180.901
4    36  -90231.177  -5237.661  180.907
..   ..         ...        ...      ...
99   82  -90163.346  -5078.780  183.037
100  83  -90163.981  -5078.249  183.045
101  83  -90163.984  -5078.241  183.039
102  84  -90164.789  -5077.475  183.034
103  84  -90164.789  -5077.478  183.038

[104 rows x 4 columns]
       no           x          y        z
0   vrs 2  -90167.485  -5099.511  183.210
1     195  -90166.340  -5102.293  183.218
2     196  -90157.653  -5119.548  183.201
3      A2  -90138.610  -5108.930  182.318
4     102  -90151.530  -5076.542  182.332
5     101  -90147.211  -5080.068  182.330
6      82  -90153.147  -5094.767  182.309
7      74  -90136.619  -5119.989  182.293
8      73  -90135.976  -5117.813  182.326
9      58  -90160.331  -5125.849  183.204
10     59  -90164.744  -5118.819  183.209
11     60  -90166.661  -5117.932  183.202
12     66  -90167.817  -5111.484  183.237
13     83  -90152.350  -5087.526  182.294
14     85  -90151.047  -5080.455  182.300
15    104  -90144.522  -5072.708  182.372
16    199  -90182.612  -5127.612  184.224
17     19  -90183.748  -5140.256  184.304
18     20  -90182.946  -5142.019  184.315
19     13  -90192.200  -5151.513  184.527
20     14  -90190.367  -5151.452  184.484
21     16  -90186.992  -5151.326  184.445
22      7  -90206.297  -5152.559  184.726
      no           x          y        z
0     57  -90158.482  -5124.454  183.203
1     65  -90168.648  -5109.172  183.250
2    197  -90181.236  -5081.433  183.944
3     54  -90176.886  -5079.164  183.960
4     55  -90174.535  -5078.768  183.929
..   ...         ...        ...      ...
110  s74  -90211.893  -5153.445  184.746
111  s75  -90212.861  -5152.760  184.744
112  s76  -90213.434  -5151.986  184.746
113  s77  -90214.396  -5150.398  184.784
114  s78  -90215.131  -5149.004  184.822

[115 rows x 4 columns]

In [ ]:
# with open("2021-07-05_10.nmea", "r", encoding="UTF-8", errors="", newline="" ) as f:
# with open(inp_file, "r", encoding="UTF-8", errors="", newline="" ) as f:
with open(inp_file1, "r", encoding=enc_sty, errors="", newline="" ) as f:
    lst = csv.reader(f, delimiter=",")
    df1 = pd.DataFrame(lst).rename(columns={0:'cols'})
    # df = pd.DataFrame(lst)

In [24]:
# type(file_data)
file_data_sum

In [3]:
# define the input file

# inp_file="2021-07-05_10.nmea"
# inp_file="VRS直_2021-07-05-12-48-07.rtk"
inp_file1="VRS直_2021-07-05-12-48-07_get_concate.rtk"
inp_file2="VRS直_2021-06-27-11-45-43_get_concate.rtk"
inp_file3="VRS直_2018-07-11-20-00-59_get_concate.rtk"
inp_file4="VRS直_2018-06-24-14-02-18_get_concate.rtk"
inp_file5="VRS直_2018-05-28-21-00-28_get_concate.rtk"
inp_file6="VRS単_2018-03-18-11-24-13_get_concate.rtk"

# type(inp_file)
base_name=inp_file.split('.',1)[0]
# type(base_name)
base_name
# inp_file="VRS直_2021-07-05-12-48-07_get.rtk"

# make output filename from input file automatically

# out_file="2021-07-05_10_GNRMC_out_test.csv"
# out_file="VRS直_2021-07-05-12-48-07_get.rtk"
out_file=base_name+"_get_concate.rtk"
out_file
# out_file="VRS直_2021-07-05-12-48-07_get.rtk"

In [112]:
df_1=df.query('cols in ["GG1"]')
# df_1_new=df_1.drop(df.columns[[1,2,4,5,6,7,8,9,10,11,12,13,14,15]], axis=1)
# df_1_new=df_1.rename(columns={3:no})
# df_1.to_csv("GG1.csv",header=False, index=False)
# type(df_1)

In [113]:
# df_1_new

In [114]:
df_1 = df_1.reset_index(drop=True)

In [115]:
df_1

,cols,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,GG1,1,2,57,14:50:05:JST,14:50:15:JST,10,11,2.199,2.199,,1,0,0,,
1,GG1,1,3,65,14:52:41:JST,14:52:51:JST,10,11,2.199,2.199,,2,0,0,,
2,GG1,1,4,197,14:54:46:JST,14:54:55:JST,10,11,2.199,2.199,,3,0,0,,
3,GG1,1,5,54,14:57:04:JST,14:57:15:JST,10,10,2.199,2.199,,4,0,0,,
4,GG1,1,6,55,14:58:18:JST,14:58:28:JST,10,10,2.199,2.199,,5,0,0,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,GG1,1,112,s74,18:54:47:JST,18:54:57:JST,10,13,2.199,2.199,,20,0,0,,
111,GG1,1,113,s75,18:55:11:JST,18:55:21:JST,10,13,2.199,2.199,,21,0,0,,
112,GG1,1,114,s76,18:55:47:JST,18:55:57:JST,10,13,2.199,2.199,,22,0,0,,
113,GG1,1,115,s77,18:56:19:JST,18:56:29:JST,10,12,2.199,2.199,,23,0,0,,
114,GG1,1,116,s78,18:56:50:JST,18:57:00:JST,10,12,2.199,2.199,,24,0,0,,

In [116]:
df_2=df.query('cols in ["GG2"]')
# df_2.to_csv("GG2.csv",header=False, index=False)

In [117]:
df_2 = df_2.reset_index(drop=True)
df_2

,cols,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,GG2,-90158.482,-5124.454,183.203,39.249,143.954,,None,None,None,None,None,None,None,None,None
1,GG2,-90168.648,-5109.172,183.250,39.250,144.000,,None,None,None,None,None,None,None,None,None
2,GG2,-90181.236,-5081.433,183.944,39.252,144.692,,None,None,None,None,None,None,None,None,None
3,GG2,-90176.886,-5079.164,183.960,39.253,144.707,,None,None,None,None,None,None,None,None,None
4,GG2,-90174.535,-5078.768,183.929,39.253,144.676,,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,GG2,-90211.893,-5153.445,184.746,39.247,145.499,,None,None,None,None,None,None,None,None,None
111,GG2,-90212.861,-5152.760,184.744,39.247,145.497,,None,None,None,None,None,None,None,None,None
112,GG2,-90213.434,-5151.986,184.746,39.247,145.499,,None,None,None,None,None,None,None,None,None
113,GG2,-90214.396,-5150.398,184.784,39.247,145.537,,None,None,None,None,None,None,None,None,None
114,GG2,-90215.131,-5149.004,184.822,39.247,145.575,,None,None,None,None,None,None,None,None,None

In [118]:
concatenated_df = pd.concat([df_1, df_2], axis=1)

In [119]:
sh=concatenated_df.shape

In [120]:
concatenated_df.columns=range(sh[1])

In [121]:
concatenated_df

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,GG1,1,2,57,14:50:05:JST,14:50:15:JST,10,11,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
1,GG1,1,3,65,14:52:41:JST,14:52:51:JST,10,11,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
2,GG1,1,4,197,14:54:46:JST,14:54:55:JST,10,11,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
3,GG1,1,5,54,14:57:04:JST,14:57:15:JST,10,10,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
4,GG1,1,6,55,14:58:18:JST,14:58:28:JST,10,10,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,GG1,1,112,s74,18:54:47:JST,18:54:57:JST,10,13,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
111,GG1,1,113,s75,18:55:11:JST,18:55:21:JST,10,13,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
112,GG1,1,114,s76,18:55:47:JST,18:55:57:JST,10,13,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
113,GG1,1,115,s77,18:56:19:JST,18:56:29:JST,10,12,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
114,GG1,1,116,s78,18:56:50:JST,18:57:00:JST,10,12,2.199,2.199,...,,None,None,None,None,None,None,None,None,None

In [122]:
concatenated_df=concatenated_df.drop(concatenated_df.columns[[0,1,2,4,5,6,7,8,9,10,11,12,13,14,15,16,20,21,22,23,24,25,26,27,28,29,30]], axis=1)

In [123]:
concatenated_df.to_csv(out_file,header=False, index=False)

# df.query('cols in ["GG1","GG2"]')
# df.query('cols in ["GG1","GG2"]').to_csv(out_file,header=False, index=False)
df.query('cols in ["GG1","GG2"]').to_csv(out_file,header=False, index=False)
# df[df[0].str.contains(id)].to_csv(out_file,header=False, index=False)

FIN
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

In [124]:
# concatenate horizontally

# id='GNRMC'
id="GG1|GG2"

df

# oi=df.iloc[0]
# print(oi)
oi2=df.iloc[:,1]
print(oi2)

# print(df[0].str.contains('$GNRMC'))
# df[0].str.contains('GNRMC')
df[0].str.contains(id)


# df[df[0].str.contains('GNRMC')].to_csv("2021-07-05_10_GNRMC.csv",header=False, index=False)
df[df[0].str.contains(id)].to_csv(out_file,header=False, index=False)

##################################################################
#################################
FIN

pd.options.display.max_rows = None
pd.options.display.max_columns = None

# df = pd.read_csv('2021-07-04_16.csv', index_col=0)
# df = pd.read_csv('2021-07-04_16.csv')
df = pd.read_csv('2021-07-04_16.csv', header=None)
print(df)

csvfile = '2021-07-05_07.nmea'
f = open(csvfile, "r")
reader = csv.reader(f)
# header = next(reader)

for row in reader:
        print(row)

f.close()

# df[0].isin([GNRMC])

df.to_csv("GNRMMC_1.csv")

type(kore)

print(df[df[0].str.contains('$GNRMC')])

df.iloc[5]

df.loc["$GNRMC"]