# pandas
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html

In [61]:
#when calculate again, you need

%reset

In [1]:
#check current directory
%pwd

'C:\\Users\\survey\\Dropbox\\My PC (SURVEY-C20)\\Documents\\GitHub\\GNSS'

In [29]:
#define working directroy
# %cd C:\\Users\\survey\\Desktop\\nmea20210705

%cd C:\Users\survey\Dropbox\My PC (SURVEY-C20)\Documents\GitHub\GNSS

C:\Users\survey\Dropbox\My PC (SURVEY-C20)\Documents\GitHub\GNSS

In [63]:
#check files
%ls

 ドライブ C のボリューム ラベルがありません。
 ボリューム シリアル番号は 3C86-6F6B です

 C:\Users\survey\Dropbox\My PC (SURVEY-C20)\Documents\GitHub\GNSS のディレクトリ

2021/07/10  17:05    <DIR>          .
2021/07/09  19:44    <DIR>          ..
2021/07/10  15:42               214 .gitignore
2021/07/10  17:04    <DIR>          .idea
2021/07/10  15:42             1,523 GG1.csv
2021/07/10  15:42             1,357 GG2.csv
2021/07/10  17:05            60,414 gnss_concate.ipynb
2021/07/10  15:58            10,387 gnss_extract.ipynb
2021/07/10  16:03                82 README.md
2018/03/18  11:24             3,454 VRS単_2018-03-18-11-24-13.rtk
2018/05/28  21:00            29,291 VRS直_2018-05-28-21-00-28.rtk
2018/06/24  14:02            66,904 VRS直_2018-06-24-14-02-18.rtk
2018/07/11  20:01            51,198 VRS直_2018-07-11-20-00-59.rtk
2021/07/09  21:19            12,733 VRS直_2021-06-27-11-45-43.rtk
2021/07/09  21:30             2,880 VRS直_2021-06-27-11-45-43_get.rtk
2021/07/09  21:32            14,536 VRS直_2021-06-27-11-45-43_get.rtk.xlsx
2021/07/10  16:55             2,857 VRS直_2021-06-27-11-45-43_get_concate.rtk
2021/07/09  18:49            60,812 VRS直_2021-07-05-12-48-07.rtk
2021/07/09  21:07            14,497 VRS直_2021-07-05-12-48-07_get.rtk
2021/07/09  21:35            31,534 VRS直_2021-07-05-12-48-07_get.rtk.xlsx
              17 個のファイル             364,673 バイト
               3 個のディレクトリ  1,044,825,382,912 バイトの空き領域

In [2]:
import pandas as pd
import csv

In [3]:
# define the input file

# inp_file="2021-07-05_10.nmea"
# inp_file="VRS直_2021-07-05-12-48-07.rtk"
inp_file="VRS直_2021-06-27-11-45-43.rtk"

In [4]:
# type(inp_file)
base_name=inp_file.split('.',1)[0]
# type(base_name)
base_name
# inp_file="VRS直_2021-07-05-12-48-07_get.rtk"

'VRS直_2021-06-27-11-45-43'

In [5]:
# make output filename from input file automatically

# out_file="2021-07-05_10_GNRMC_out_test.csv"
# out_file="VRS直_2021-07-05-12-48-07_get.rtk"
out_file=base_name+"_get_concate.rtk"
out_file
# out_file="VRS直_2021-07-05-12-48-07_get.rtk"

'VRS直_2021-06-27-11-45-43_get_concate.rtk'

In [6]:
# enc_sty="UTF-8"
enc_sty="shift_jis"

In [7]:
# with open("2021-07-05_10.nmea", "r", encoding="UTF-8", errors="", newline="" ) as f:
# with open(inp_file, "r", encoding="UTF-8", errors="", newline="" ) as f:
with open(inp_file, "r", encoding=enc_sty, errors="", newline="" ) as f:
    lst = csv.reader(f, delimiter=",")
    df = pd.DataFrame(lst).rename(columns={0:'cols'})
    # df = pd.DataFrame(lst)

In [8]:
df_1=df.query('cols in ["GG1"]')
# df_1_new=df_1.drop(df.columns[[1,2,4,5,6,7,8,9,10,11,12,13,14,15]], axis=1)
# df_1_new=df_1.rename(columns={3:no})
# df_1.to_csv("GG1.csv",header=False, index=False)
# type(df_1)

In [37]:
# df_1_new

    cols      3
12   GG1  vrs 2
20   GG1    195
28   GG1    196
36   GG1     A2
56   GG1    102
64   GG1    101
72   GG1     82
80   GG1     74
88   GG1     73
108  GG1     58
116  GG1     59
124  GG1     60
132  GG1     66
140  GG1     83
148  GG1     85
156  GG1    104
164  GG1    199
172  GG1     19
180  GG1     20
188  GG1     13
196  GG1     14
204  GG1     16
212  GG1      7

In [9]:
df_1 = df_1.reset_index(drop=True)

In [10]:
df_1

,cols,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,GG1,1,2,vrs 2,12:55:39:JST,12:55:49:JST,10,15,2.199,2.199,,1,0,0,,
1,GG1,1,3,195,12:56:52:JST,12:57:02:JST,10,15,2.199,2.199,,2,0,0,,
2,GG1,1,4,196,13:48:16:JST,13:48:27:JST,10,14,2.199,2.199,,3,0,0,,
3,GG1,1,5,A2,13:51:20:JST,13:51:30:JST,10,14,2.199,2.199,,4,0,0,,
4,GG1,1,6,102,14:00:04:JST,14:00:14:JST,10,16,2.199,2.199,,1,0,0,,
5,GG1,1,7,101,14:02:32:JST,14:02:42:JST,10,18,2.199,2.199,,2,0,0,,
6,GG1,1,8,82,14:04:02:JST,14:04:12:JST,10,18,2.199,2.199,,3,0,0,,
7,GG1,1,9,74,14:10:51:JST,14:11:01:JST,10,16,2.199,2.199,,4,0,0,,
8,GG1,1,10,73,14:16:28:JST,14:16:38:JST,10,18,2.199,2.199,,5,0,0,,
9,GG1,1,11,58,16:56:00:JST,16:56:10:JST,10,11,2.199,2.199,,1,0,0,,
10,GG1,1,12,59,17:08:06:JST,17:08:17:JST,10,13,2.199,2.199,,2,0,0,,
11,GG1,1,13,60,17:08:45:JST,17:08:56:JST,10,13,2.199,2.199,,3,0,0,,
12,GG1,1,14,66,17:11:14:JST,17:11:24:JST,10,13,2.199,2.199,,4,0,0,,
13,GG1,1,15,83,17:14:07:JST,17:14:16:JST,10,13,2.199,2.199,,5,0,0,,
14,GG1,1,16,85,17:15:48:JST,17:15:57:JST,10,13,2.199,2.199,,6,0,0,,
15,GG1,1,17,104,17:18:00:JST,17:18:10:JST,10,14,2.199,2.199,,7,0,0,,
16,GG1,1,18,199,17:22:06:JST,17:22:16:JST,10,13,2.199,2.199,,8,0,0,,
17,GG1,1,19,19,17:23:46:JST,17:23:56:JST,10,13,2.199,2.199,,9,0,0,,
18,GG1,1,20,20,17:24:28:JST,17:24:38:JST,10,14,2.199,2.199,,10,0,0,,
19,GG1,1,21,13,17:26:11:JST,17:26:21:JST,10,14,2.199,2.199,,11,0,0,,
20,GG1,1,22,14,17:26:45:JST,17:26:55:JST,10,14,2.199,2.199,,12,0,0,,
21,GG1,1,23,16,17:27:38:JST,17:27:48:JST,10,14,2.199,2.199,,13,0,0,,
22,GG1,1,24,7,17:30:16:JST,17:30:26:JST,10,13,2.199,2.199,,14,0,0,,

In [11]:
df_2=df.query('cols in ["GG2"]')
# df_2.to_csv("GG2.csv",header=False, index=False)

In [12]:
df_2 = df_2.reset_index(drop=True)
df_2

,cols,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,GG2,-90167.485,-5099.511,183.210,39.251,143.959,,None,None,None,None,None,None,None,None,None
1,GG2,-90166.340,-5102.293,183.218,39.251,143.967,,None,None,None,None,None,None,None,None,None
2,GG2,-90157.653,-5119.548,183.201,39.250,143.951,,None,None,None,None,None,None,None,None,None
3,GG2,-90138.610,-5108.930,182.318,39.251,143.067,,None,None,None,None,None,None,None,None,None
4,GG2,-90151.530,-5076.542,182.332,39.253,143.079,,None,None,None,None,None,None,None,None,None
5,GG2,-90147.211,-5080.068,182.330,39.253,143.077,,None,None,None,None,None,None,None,None,None
6,GG2,-90153.147,-5094.767,182.309,39.252,143.057,,None,None,None,None,None,None,None,None,None
7,GG2,-90136.619,-5119.989,182.293,39.250,143.043,,None,None,None,None,None,None,None,None,None
8,GG2,-90135.976,-5117.813,182.326,39.250,143.076,,None,None,None,None,None,None,None,None,None
9,GG2,-90160.331,-5125.849,183.204,39.249,143.955,,None,None,None,None,None,None,None,None,None
10,GG2,-90164.744,-5118.819,183.209,39.250,143.959,,None,None,None,None,None,None,None,None,None
11,GG2,-90166.661,-5117.932,183.202,39.250,143.952,,None,None,None,None,None,None,None,None,None
12,GG2,-90167.817,-5111.484,183.237,39.250,143.987,,None,None,None,None,None,None,None,None,None
13,GG2,-90152.350,-5087.526,182.294,39.252,143.042,,None,None,None,None,None,None,None,None,None
14,GG2,-90151.047,-5080.455,182.300,39.253,143.047,,None,None,None,None,None,None,None,None,None
15,GG2,-90144.522,-5072.708,182.372,39.253,143.119,,None,None,None,None,None,None,None,None,None
16,GG2,-90182.612,-5127.612,184.224,39.249,144.975,,None,None,None,None,None,None,None,None,None
17,GG2,-90183.748,-5140.256,184.304,39.248,145.056,,None,None,None,None,None,None,None,None,None
18,GG2,-90182.946,-5142.019,184.315,39.248,145.067,,None,None,None,None,None,None,None,None,None
19,GG2,-90192.200,-5151.513,184.527,39.247,145.280,,None,None,None,None,None,None,None,None,None
20,GG2,-90190.367,-5151.452,184.484,39.247,145.237,,None,None,None,None,None,None,None,None,None
21,GG2,-90186.992,-5151.326,184.445,39.247,145.198,,None,None,None,None,None,None,None,None,None
22,GG2,-90206.297,-5152.559,184.726,39.247,145.479,,None,None,None,None,None,None,None,None,None

In [13]:
concatenated_df = pd.concat([df_1, df_2], axis=1)

In [14]:
sh=concatenated_df.shape

In [15]:
concatenated_df.columns=range(sh[1])

In [16]:
concatenated_df

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,GG1,1,2,vrs 2,12:55:39:JST,12:55:49:JST,10,15,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
1,GG1,1,3,195,12:56:52:JST,12:57:02:JST,10,15,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
2,GG1,1,4,196,13:48:16:JST,13:48:27:JST,10,14,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
3,GG1,1,5,A2,13:51:20:JST,13:51:30:JST,10,14,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
4,GG1,1,6,102,14:00:04:JST,14:00:14:JST,10,16,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
5,GG1,1,7,101,14:02:32:JST,14:02:42:JST,10,18,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
6,GG1,1,8,82,14:04:02:JST,14:04:12:JST,10,18,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
7,GG1,1,9,74,14:10:51:JST,14:11:01:JST,10,16,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
8,GG1,1,10,73,14:16:28:JST,14:16:38:JST,10,18,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
9,GG1,1,11,58,16:56:00:JST,16:56:10:JST,10,11,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
10,GG1,1,12,59,17:08:06:JST,17:08:17:JST,10,13,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
11,GG1,1,13,60,17:08:45:JST,17:08:56:JST,10,13,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
12,GG1,1,14,66,17:11:14:JST,17:11:24:JST,10,13,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
13,GG1,1,15,83,17:14:07:JST,17:14:16:JST,10,13,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
14,GG1,1,16,85,17:15:48:JST,17:15:57:JST,10,13,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
15,GG1,1,17,104,17:18:00:JST,17:18:10:JST,10,14,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
16,GG1,1,18,199,17:22:06:JST,17:22:16:JST,10,13,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
17,GG1,1,19,19,17:23:46:JST,17:23:56:JST,10,13,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
18,GG1,1,20,20,17:24:28:JST,17:24:38:JST,10,14,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
19,GG1,1,21,13,17:26:11:JST,17:26:21:JST,10,14,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
20,GG1,1,22,14,17:26:45:JST,17:26:55:JST,10,14,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
21,GG1,1,23,16,17:27:38:JST,17:27:48:JST,10,14,2.199,2.199,...,,None,None,None,None,None,None,None,None,None
22,GG1,1,24,7,17:30:16:JST,17:30:26:JST,10,13,2.199,2.199,...,,None,None,None,None,None,None,None,None,None

In [18]:
concatenated_df=concatenated_df.drop(concatenated_df.columns[[0,1,2,4,5,6,7,8,9,10,11,12,13,14,15,16,20,21,22,23,24,25,26,27,28,29,30]], axis=1)

In [19]:
concatenated_df .to_csv(out_file,header=False, index=False)

# df.query('cols in ["GG1","GG2"]')
# df.query('cols in ["GG1","GG2"]').to_csv(out_file,header=False, index=False)
df.query('cols in ["GG1","GG2"]').to_csv(out_file,header=False, index=False)
# df[df[0].str.contains(id)].to_csv(out_file,header=False, index=False)

FIN
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

In [ ]:
# concatenate horizontally

# id='GNRMC'
id="GG1|GG2"

df

# oi=df.iloc[0]
# print(oi)
oi2=df.iloc[:,1]
print(oi2)

# print(df[0].str.contains('$GNRMC'))
# df[0].str.contains('GNRMC')
df[0].str.contains(id)


# df[df[0].str.contains('GNRMC')].to_csv("2021-07-05_10_GNRMC.csv",header=False, index=False)
df[df[0].str.contains(id)].to_csv(out_file,header=False, index=False)

##################################################################
#################################
FIN

pd.options.display.max_rows = None
pd.options.display.max_columns = None

# df = pd.read_csv('2021-07-04_16.csv', index_col=0)
# df = pd.read_csv('2021-07-04_16.csv')
df = pd.read_csv('2021-07-04_16.csv', header=None)
print(df)

csvfile = '2021-07-05_07.nmea'
f = open(csvfile, "r")
reader = csv.reader(f)
# header = next(reader)

for row in reader:
        print(row)

f.close()

# df[0].isin([GNRMC])

df.to_csv("GNRMMC_1.csv")

type(kore)

print(df[df[0].str.contains('$GNRMC')])

df.iloc[5]

df.loc["$GNRMC"]